<% if @note %>
<p>Are you sure you want to delete the following note: <em>"<%=h @note.content %>"</em>?</p>
<form action="/<%=h @note.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Yes, Delete It!">
</form>
<% else %>
<p>Note not found!</p>
<% end %>
